/* Define global CSS variables */
:root {
  --sidepanel-width: 400px;
  --umn-maroon: #7a0019;
  --umn-gold: #ffcc33;
}

/* Adjusts the body of schedule builder to the correct width */
#app-container.schedule-builder--sidepanel-showing,
#umn-container.schedule-builder--sidepanel-showing {
  width: calc(100vw - var(--sidepanel-width) - 15px);
  margin-left: 0;
  margin-right: 0;
}
#app-header .col-xs-12.affix {
  width: calc(100vw - var(--sidepanel-width) - 15px);
  margin-right: 0;
}
#app-search {
  display: flex;
}

#app-container.schedule-builder--sidepanel-showing div#app-navbar div {
  max-width: 175px;
}

/* Sidepanel styles */
.sidepanel {
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: var(--sidepanel-width);
  height: 100%;
  bottom: 0;
  right: 0%;
  z-index: 10000;
  background: #f5f5f5;
  overflow-y: auto;
}

.sidepanel--hidden {
  display: none;
}

.sidepanel .top-bar {
  border-radius: 0px;
  background: #ffcc33;
  height: 64px;
  padding-left: 15px;
}

.sidepanel .top-bar__link {
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.sidepanel .top-bar__text {
  color: #7a0019;
}

.top-bar .logo-img {
  background-color: var(--umn-maroon);
  padding: 4px;
  border-radius: 4px;
  margin-right: 6px;
}

.sidepanel .control-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidepanel .control-buttons button {
  flex: 0;
}

#rate-my-gopher-toggle {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 8px;
  background-color: var(--umn-maroon);
  border-color: transparent;
}

#rate-my-gopher-toggle:hover {
  border-color: transparent;
  filter: brightness(85%);
}

#rate-my-gopher-toggle:focus {
  border-color: transparent;
  filter: brightness(65%);
}

.toggle-text {
  color: #ffcc33;
  cursor: pointer;
  text-align: center;
  margin: auto;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: medium;
  margin-top: 14px;
}

.professor-card {
  margin-bottom: 8px;
}

.professor-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.professor-card__close {
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  color: red;
}

.professor-card__close:hover {
  cursor: pointer;
  filter: brightness(65%);
}

.sidepanel .footer {
  position: fixed;
  bottom: 0;
  z-index: 1033;
  background: #7a0019;
  width: 400px;
  left: calc(100vw - var(--sidepanel-width) - 15px);
  border-radius: 0;
  margin-bottom: 0;
}

.sidepanel .footer__text {
  margin: 4px;
  color: #fff;
}
