.custom-button-for-stuff {
  background: #7a0019;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin: 0px auto;
  margin-bottom: 10px;
  height: 30px;
  font-size: 18px;
  z-index: 1033;
  outline: none;
  display: block;
  min-width: 250px;
  width: 250px;
}

.custom-button-for-stuff:hover {
  background: #da291c;
  color: #000;
  z-index: 1033;
}

#searchProfessorButton {
  margin-top: 74px;
}

.sideBar {
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  justify-content: center;
  position: fixed;
  width: 20%;
  height: 100%;
  bottom: 0;
  right: 0%;
  z-index: 1032;
  background: #fff;
  overflow-y: scroll;
}

.topBar {
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: fixed;
  width: 20%;
  height: 64px;
  top: 0;
  right: 0;
  z-index: 1033;
  background: #7a0019;
}

.topBar-text {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: x-large;
  max-lines: 2;
}

#tobBar-title {
  color: #ffcc33;
  max-lines: 2;
}

.toggleBoxShow {
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 25px;
  height: 65px;
  top: 120px;
  right: 0px;
  z-index: 1033;
  background: #7a0019;
}

.toggleBoxHide {
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 25px;
  height: 65px;
  top: 87px;
  right: 20px;
  z-index: 1033;
  background: #7a0019;
}

.toggle-text {
  color: #ffcc33;
  cursor: pointer;
  text-align: center;
  margin: auto;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: medium;
  margin-top: 14px;
}

.credits {
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  justify-content: center;
  position: fixed;
  width: 20%;
  height: 5%;
  bottom: 0;
  right: 0%;
  z-index: 1033;
  background: #7a0019;
}

.credits-text {
  margin: 4px;
  color: #fff;
  font-size: x-small;
}

.verticaltext {
  writing-mode: vertical-rl;
  text-align: center;
}
